/* Styles Used Throughout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Navigation Specific Styles */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.menu {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Main Specific Styles */
section {
    margin-top: 20px;
}

.eighty-percent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

.lightestgray {
    color: black;
    background-color: lightgray;
}

.lightgray {
    color: white;
    background-color: #B8B8B8;
}

.gray {
    color: white;
    background-color:gray;
}

.darkgray {
    color: white;
    background-color:#484848;
}

p, ul {
    margin-top: 20px;
    padding: 15px;
}

li {
    list-style: none;
    margin-left: 15px;
}



/* Footer Specific Styles */
footer {
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
