/* Styles Used Throughout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-weight: 400;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

/* Navigation Specific Styles */
.logo-link {
    text-align: center;
}

.mobile-nav {
    height: 45px;
}

.topnav-mobile {
    overflow: hidden;
    background-color:#065549;
    position: relative;
  }
  
  .topnav-mobile #myLinks {
    display: none;
  }
  
  .topnav-mobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav-mobile a.menu {
    background: #065549;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav-mobile a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav-desktop {
    height: 100vh;
  }
  
  .topnav-desktop {
    height: 44px;
    overflow: scroll;
    background:#065549;
  }
  
  .topnav-desktop ul {
    display: flex;
    height: 44px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .topnav-desktop li {
      margin-left: 0px;
  }
  
  .topnav-desktop a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .topnav-desktop a:hover {
    color: #B8B8B8;
  }

  .topnav-desktop-inner {
        max-width: 980px;
        margin: 0 auto;
  }

.topnav-desktop {
    display: none;
}
  
/* Main Specific Styles */
section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 26px;
}

h2 {
    padding: 10px;
}

p, ul {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
}

legend {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

.form-item {
    margin: 10px 0px 5px 5px;
}

li {
    list-style: none;
    margin-left: 20px;
}

.underline {
    text-decoration: underline;
}

.landing-view,
.signup-view,
.billing-view,
.support-view,
.contact-view {
    margin-top: 0px;
}

/* Landing/About View */

.logo {
    width: 60%;
    height: auto;
} 

.intro {
    font-size: 25px;
    text-align: center;
}

.who-are-we {
    margin-top: 40px;
}

.wires-img,
.mnts-img,
.mnt-laptop {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.mnt-container {
    position: relative;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 45px;
}

.mnt-txt {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-btn {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 12px;
    border-radius: 25px;
    text-decoration: none;
}

.signup-btn:hover {
    cursor: pointer;
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    color: white;
}

.who {
    text-align: center;
}

.wires-container:after {
    content:'';
    background: url('wires.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:325px;
    z-index:-1;
    opacity: 0.3; /* Here is your opacity */
    border-radius: 0px;
}

.wires-container {
    font-size: 20px;
    color: black;
    position: relative;
    height: 70%;
    width:728;
    padding:30px;
    font-weight:bold;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 190px;
}

/* Signup View */

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
}

.signup-form-wrapper {
    display: none;
}

/* Support View */
.FAQ {
    padding: 40px;
}

.faq-list {
    text-align: left;
    padding: 0px;
}

.faq-list li {
    margin: 0px;
}

.faq-question,
.faq-answer {
    padding: 0px;
    font-size: 18px;
}

.faq-question {
    font-weight: 700;
}

/* Color Combinations for Grey Boxes */
.lightestgray {
    color: black;
    background-color: #EFEFEF;
    padding: 40px;
}

.black-font {
    color: black;
}

.darkgreen {
    color: white;
    background-color:#065549;
}

.image-placeholder {
    height: 200px;
    width: 200px;
}

/* Contact */

.contact-info {
    padding-left: 0px;
    font-size: 16px;
}

/* Device = Tablets, Ipads (portrait) */
/* Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
    .flex-row {
        justify-content: space-between;
    }
    .logo {
        width: 60%;
        height: auto;
    } 
    h2 {
        font-size: 34px;
    }
    .main-container {
        width: 60%;
    }
    h1 {
        font-size: 40px;
        padding: 40px;
    }
    .topnav-mobile {
        display: none;
    }
    .topnav-desktop {
        display: block;
    }
    .mnt-laptop {
        display: block;
    }
}


/* Device = Laptops, Desktops */
/* Screen = 1025px and up
*/

@media (min-width: 1025px) {
    .logo {
        width: 50%;
        height: auto;
    } 
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
    .main-container {
        width: 60%;
    }
    .topnav-mobile {
        display: none;
    }
    .topnav-desktop {
        display: block;
    }
    .summary {
        margin-top: 50px;
        width: 50%;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .signup-form-wrapper, 
    .signup-content,
    .zendesk-form,
    .service-form-content {
        width: 75%;
        margin: auto;
        overflow-wrap: break-word;
    }
    .service-form-content {
        margin-top: 40px;;
    }
    .image-placeholder {
        display: block;
    }
    .mnt-laptop {
        display: block;
        height: 100%; 
        width: 40%;
        border-radius: 0px;
    }
    .network-status-container {
        display: flex;
        flex-direction: row;
    }
}

